<style>

</style>

<!-- Toolbar -->
<div class="game">
    <div *ngIf="!gameOver; else go">It is player {{playerOneTurn ? 1 : 2}}'s turn</div>
    <ng-template #go>
      <span *ngIf="!tie; else tied">Game is over. Player {{playerOneTurn ? 1 : 2}} wins!</span>
      <ng-template #tied>Game is over. Nobody won :(</ng-template>
    </ng-template>
  <div class="board">
    <div class="row" *ngFor="let row of board; index as i">
      <div class="square" [class.empty]="square=='E'" *ngFor="let square of row; index as j" (click)="selectSquare(i,j)">
        {{square}}
      </div>
    </div>
  </div>
  <button class="reset" (click)="resetGame()">Reset the game</button>
</div>


